*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
body{
  background:linear-gradient(270deg, rgba(78, 1, 78, 0.512), rgba(220, 14, 227, 0.201), rgba(149, 81, 162, 0.393)); 
}
.container{
  margin: 100px auto 500px;
  width: 400px;
  padding: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-line{
  display: flex;
  justify-content: space-between;
  width: 350px;
}
::placeholder{
  color: rgba(0, 0, 0, 0.79);
}
.input{
  background-color: rgba(255, 255, 255, 0.422);
  border: purple 1.5px solid;
  border-radius: 3px;
  height: 40px;
  text-indent: 10px;
  display: flex;
  flex: 1;
}
.head-container{
  margin-bottom: 15px;
}
.heading{
 margin-bottom: 10px;
 font-weight: bold;
 text-align: center;
}
.add-todo-button{
  padding: 5px;
  font-size: 16px;
  height: 40px;
  width: 65px;
  font-weight: 500;
  background-color: rgba(179, 106, 212, 0.45);
  border: purple 1.5px solid;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
}
.add-todo-button:hover{
  opacity: 0.8;
}
.add-todo-button:active{
  opacity: 0.5;
}
.todo-lists{
  width: 350px;
}
.check-title{
  display: flex;
  padding-left: 10px;
  flex: 1;
}
.check-title p{
  margin-left: 10px;
}
.todo-item, .checked{
 margin-bottom: 10px;
 background-color: rgb(239, 224, 243);
 display: flex;
 justify-content: space-between;
 border: rgb(197, 73, 241) 1px solid;
 border-radius: 3px;
 display: flex;
 align-items: center;
}
.checked p{
  text-decoration: line-through;
}
.delete-but{
  padding: 10px;
  margin: 5px;
  font-size: 14px;
  height: 35px;
  background-color: rgba(179, 106, 212, 0.45);
  border: solid rgba(162, 42, 218, 0.747) 1px;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
  cursor: pointer;
}
.delete-but:hover{
  opacity: 0.8;
}
.delete-but:active{
  opacity: 0.5;
}